flows.json
[
    {
        "id": "5c28bdec2bd806f2",
        "type": "tab",
        "label": "Connection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bcdfee4c53f83ea",
        "type": "tab",
        "label": "Relay - Latch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3951fc9914c8a78",
        "type": "tab",
        "label": "Relay - Momentary",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29b32cd03c941b71",
        "type": "tab",
        "label": "Relay - Toggle",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "780de2f8de2c863d",
        "type": "tab",
        "label": "Relay - Pulse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbf21f4371a67b3c",
        "type": "tab",
        "label": "IO - Analog Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e319b75908f448e8",
        "type": "tab",
        "label": "IO - Digital Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d487580768fd81c1",
        "type": "tab",
        "label": "IO - Digital Output",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fdd846aaf88111f3",
        "type": "tab",
        "label": "IR - Single Pulse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f862f0d0e4b3589",
        "type": "tab",
        "label": "IR - Press & Hold",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c72db176c6d2f7f3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a49905ee68322159",
        "type": "junction",
        "z": "5bcdfee4c53f83ea",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "2d1ad8ba3be3c123"
            ]
        ]
    },
    {
        "id": "685722b192572766",
        "type": "junction",
        "z": "5bcdfee4c53f83ea",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "9176ea61d844c2a9"
            ]
        ]
    },
    {
        "id": "8ea9b997c61c6731",
        "type": "junction",
        "z": "a3951fc9914c8a78",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "aded83ac6b6d3d10"
            ]
        ]
    },
    {
        "id": "3fae2f6811a13400",
        "type": "junction",
        "z": "a3951fc9914c8a78",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "adaaba8d2080a86a"
            ]
        ]
    },
    {
        "id": "e49a7656a528bc88",
        "type": "junction",
        "z": "d487580768fd81c1",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "e4707e48a0b3cf2b"
            ]
        ]
    },
    {
        "id": "ecbb0a121027cba0",
        "type": "junction",
        "z": "d487580768fd81c1",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "2d4ffb7069abe3b2"
            ]
        ]
    },
    {
        "id": "3f0a0d3c06ea2cad",
        "type": "Controller",
        "z": "5c28bdec2bd806f2",
        "name": "Controller",
        "mojo": {
            "controller": "simulator",
            "protocol": "http",
            "host": "192.168.0.51",
            "port": 80,
            "username": "admin",
            "password": "password"
        },
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "189d9a92e0c16dbf",
        "type": "Control Panel",
        "z": "5c28bdec2bd806f2",
        "name": "Varia-80",
        "mojo": {
            "md5": "cf46986336ea6bf67b49a9f101c0f180",
            "tp5": "Muse Exercises UI (VARIA-80).TP5",
            "device": "dvTP"
        },
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "9176ea61d844c2a9",
        "type": "Command",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay 1 State - True",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/1/state",
            "onebased": false,
            "args": true,
            "cmdvalue": "Manual configuration"
        },
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5055327f5280fef4",
        "type": "UI Control",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay - Latch On",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/10",
            "locator": {
                "ccode": 31,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 180,
        "y": 160,
        "wires": [
            [
                "685722b192572766"
            ]
        ]
    },
    {
        "id": "2d1ad8ba3be3c123",
        "type": "Command",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay 1 State - False",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/1/state",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "777aca40f9d1fa3a",
        "type": "UI Control",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay - Latch Off",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/10",
            "locator": {
                "ccode": 31,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 180,
        "y": 220,
        "wires": [
            [
                "a49905ee68322159"
            ]
        ]
    },
    {
        "id": "c31e66d4cacc3c55",
        "type": "inject",
        "z": "5bcdfee4c53f83ea",
        "name": "Simulate Relay - Latch On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "685722b192572766"
            ]
        ]
    },
    {
        "id": "cf617aa2f4411bf8",
        "type": "inject",
        "z": "5bcdfee4c53f83ea",
        "name": "Simulate Relay - Latch Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "a49905ee68322159"
            ]
        ]
    },
    {
        "id": "b3954386be66a04e",
        "type": "Event",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay 1 State Change Event",
        "mojo": {
            "device": "dvRelay",
            "event": "//relay/1/state",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 260,
        "y": 440,
        "wires": [
            [
                "0e13c8d6ade31c5f"
            ]
        ]
    },
    {
        "id": "0e13c8d6ade31c5f",
        "type": "Command",
        "z": "5bcdfee4c53f83ea",
        "name": "Relay 1 TP Button Feedbacl",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/41",
            "onebased": true,
            "args": "",
            "cmdvalue": "Message payload"
        },
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9f9d6afca13853",
        "type": "UI Control",
        "z": "a3951fc9914c8a78",
        "name": "Relay - Momentary - Push",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/23",
            "locator": {
                "ccode": 33,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 190,
        "y": 180,
        "wires": [
            [
                "3fae2f6811a13400"
            ]
        ]
    },
    {
        "id": "48a21701bdd5e4e5",
        "type": "UI Control",
        "z": "a3951fc9914c8a78",
        "name": "Relay - Momentary - Release",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/23",
            "locator": {
                "ccode": 33,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "RELEASE",
            "state": "NONE"
        },
        "x": 200,
        "y": 240,
        "wires": [
            [
                "8ea9b997c61c6731"
            ]
        ]
    },
    {
        "id": "f64d0e64137bcdfc",
        "type": "inject",
        "z": "a3951fc9914c8a78",
        "name": "Simulate Relay - Momentary - Push",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "3fae2f6811a13400"
            ]
        ]
    },
    {
        "id": "ed8318976784db80",
        "type": "inject",
        "z": "a3951fc9914c8a78",
        "name": "Simulate Relay - Momentary - Release",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "8ea9b997c61c6731"
            ]
        ]
    },
    {
        "id": "adaaba8d2080a86a",
        "type": "Command",
        "z": "a3951fc9914c8a78",
        "name": "Relay 2 State - True",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/2/state",
            "onebased": false,
            "args": true,
            "cmdvalue": "Manual configuration"
        },
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "aded83ac6b6d3d10",
        "type": "Command",
        "z": "a3951fc9914c8a78",
        "name": "Relay 2 State - False",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/2/state",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d6bdeb1a9b11f86c",
        "type": "UI Control",
        "z": "a3951fc9914c8a78",
        "name": "Relay - Momentary - Any",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/23",
            "locator": {
                "ccode": 33,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "ANY",
            "state": "NONE"
        },
        "x": 190,
        "y": 420,
        "wires": [
            [
                "70148c9d6698aaf2"
            ]
        ]
    },
    {
        "id": "70148c9d6698aaf2",
        "type": "Command",
        "z": "a3951fc9914c8a78",
        "name": "Relay 2 State - Payload",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/2/state",
            "onebased": false,
            "args": "",
            "cmdvalue": "Message payload"
        },
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ce2cf9f64b2f5f",
        "type": "Event",
        "z": "a3951fc9914c8a78",
        "name": "Relay 2 State Change Event",
        "mojo": {
            "device": "dvRelay",
            "event": "//relay/2/state",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 220,
        "y": 560,
        "wires": [
            [
                "206ad933e6991fb9"
            ]
        ]
    },
    {
        "id": "206ad933e6991fb9",
        "type": "Command",
        "z": "a3951fc9914c8a78",
        "name": "Relay 2 TP Button Feedbacl",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/42",
            "onebased": true,
            "cmdvalue": "Message payload"
        },
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c1409cda04e4a03f",
        "type": "UI Control",
        "z": "29b32cd03c941b71",
        "name": "Relay - Toggle",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/16",
            "locator": {
                "ccode": 34,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 150,
        "y": 180,
        "wires": [
            [
                "8e5cb9d43071e764"
            ]
        ]
    },
    {
        "id": "11f484505d716203",
        "type": "Command",
        "z": "29b32cd03c941b71",
        "name": "Relay 3 State - False",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/3/state",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 980,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8e5cb9d43071e764",
        "type": "Status",
        "z": "29b32cd03c941b71",
        "name": "Status",
        "mojo": {
            "device": "dvRelay",
            "parameter": "//relay/3/state",
            "onebased": false
        },
        "x": 510,
        "y": 180,
        "wires": [
            [
                "69e9ae9e29c5b309"
            ]
        ]
    },
    {
        "id": "3fdddb57aaccd5a5",
        "type": "inject",
        "z": "29b32cd03c941b71",
        "name": "Simulate Relay - Toggle- Push",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "8e5cb9d43071e764"
            ]
        ]
    },
    {
        "id": "69e9ae9e29c5b309",
        "type": "switch",
        "z": "29b32cd03c941b71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "11f484505d716203"
            ],
            [
                "d475f33ecb85e1fb"
            ]
        ]
    },
    {
        "id": "d475f33ecb85e1fb",
        "type": "Command",
        "z": "29b32cd03c941b71",
        "name": "Relay 3 State - True",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/3/state",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 980,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "12d59d90b2a13d51",
        "type": "Event",
        "z": "29b32cd03c941b71",
        "name": "Relay 3 State Change Event",
        "mojo": {
            "device": "dvRelay",
            "event": "//relay/3/state",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 220,
        "y": 360,
        "wires": [
            [
                "f6af922647b4b230"
            ]
        ]
    },
    {
        "id": "f6af922647b4b230",
        "type": "Command",
        "z": "29b32cd03c941b71",
        "name": "Relay 3 TP Button Feedbacl",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/43",
            "onebased": true,
            "cmdvalue": "Message payload"
        },
        "x": 760,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b5230c19f9ba98e4",
        "type": "UI Control",
        "z": "780de2f8de2c863d",
        "name": "UI Control",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//511/21",
            "locator": {
                "ccode": 35,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 160,
        "y": 160,
        "wires": [
            [
                "0d479bd5770e7332"
            ]
        ]
    },
    {
        "id": "0d479bd5770e7332",
        "type": "Command",
        "z": "780de2f8de2c863d",
        "name": "Relay 4 - State False",
        "mojo": {
            "cmdvalue": "Manual configuration",
            "args": true,
            "device": "dvRelay",
            "command": "//relay/4/state",
            "onebased": false
        },
        "x": 400,
        "y": 160,
        "wires": [
            [
                "913d80de34a14675"
            ]
        ]
    },
    {
        "id": "913d80de34a14675",
        "type": "delay",
        "z": "780de2f8de2c863d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 160,
        "wires": [
            [
                "092483a64e3bb153"
            ]
        ]
    },
    {
        "id": "092483a64e3bb153",
        "type": "Command",
        "z": "780de2f8de2c863d",
        "name": "Relay 4 - State False",
        "mojo": {
            "device": "dvRelay",
            "command": "//relay/4/state",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0be51ae86af4ea0f",
        "type": "inject",
        "z": "780de2f8de2c863d",
        "name": "Simulate Relay - Momentary - Push",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0d479bd5770e7332"
            ]
        ]
    },
    {
        "id": "a8c474f07db33960",
        "type": "Event",
        "z": "780de2f8de2c863d",
        "name": "Relay 4 State Change Event",
        "mojo": {
            "device": "dvRelay",
            "event": "//relay/4/state",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 220,
        "y": 320,
        "wires": [
            [
                "7895b263d3d837c0"
            ]
        ]
    },
    {
        "id": "7895b263d3d837c0",
        "type": "Command",
        "z": "780de2f8de2c863d",
        "name": "Relay 1 TP Button Feedbacl",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/44",
            "onebased": true,
            "cmdvalue": "Message payload"
        },
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cad7167184bb0d4c",
        "type": "Event",
        "z": "cbf21f4371a67b3c",
        "name": "idevice - Online event",
        "mojo": {
            "device": "idevice",
            "event": "//Online",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "true"
        },
        "x": 240,
        "y": 120,
        "wires": [
            [
                "e4de3c973784f04a"
            ]
        ]
    },
    {
        "id": "e4de3c973784f04a",
        "type": "Command",
        "z": "cbf21f4371a67b3c",
        "name": "Set IO 1 Mode - Input",
        "mojo": {
            "device": "idevice",
            "command": "//io/1/mode",
            "onebased": false,
            "args": "INPUT",
            "cmdvalue": "Manual configuration"
        },
        "x": 540,
        "y": 120,
        "wires": [
            [
                "4acc5ba86ff91453"
            ]
        ]
    },
    {
        "id": "4acc5ba86ff91453",
        "type": "Command",
        "z": "cbf21f4371a67b3c",
        "name": "Set IO 1 Input mode - Analog",
        "mojo": {
            "device": "idevice",
            "command": "//io/1/inputMode",
            "onebased": false,
            "args": "ANALOG",
            "cmdvalue": "Manual configuration"
        },
        "x": 840,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e874d8bdcb2aa509",
        "type": "comment",
        "z": "cbf21f4371a67b3c",
        "name": "Port configuration part",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "4703076232918c52",
        "type": "Event",
        "z": "cbf21f4371a67b3c",
        "name": "IO Port 1 Analog Input evet",
        "mojo": {
            "device": "idevice",
            "event": "//io/1/analogInput",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Float",
            "normalized": false
        },
        "x": 250,
        "y": 300,
        "wires": [
            [
                "103c1866cbb4fb8a"
            ]
        ]
    },
    {
        "id": "103c1866cbb4fb8a",
        "type": "Command",
        "z": "cbf21f4371a67b3c",
        "name": "TODO: do something",
        "mojo": {},
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a0ac02fafc1e8e04",
        "type": "Event",
        "z": "e319b75908f448e8",
        "name": "idevice - Online event",
        "mojo": {
            "device": "idevice",
            "event": "//Online",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "true"
        },
        "x": 240,
        "y": 120,
        "wires": [
            [
                "c17971b1bf39f781"
            ]
        ]
    },
    {
        "id": "c17971b1bf39f781",
        "type": "Command",
        "z": "e319b75908f448e8",
        "name": "Set IO 2 Mode - Input",
        "mojo": {
            "device": "idevice",
            "command": "//io/2/mode",
            "onebased": false,
            "args": "INPUT",
            "cmdvalue": "Manual configuration"
        },
        "x": 540,
        "y": 120,
        "wires": [
            [
                "f65d5439d14fcc13"
            ]
        ]
    },
    {
        "id": "f65d5439d14fcc13",
        "type": "Command",
        "z": "e319b75908f448e8",
        "name": "Set IO 2 Input mode - Digital",
        "mojo": {
            "device": "idevice",
            "command": "//io/2/inputMode",
            "onebased": false,
            "args": "DIGITAL",
            "cmdvalue": "Manual configuration"
        },
        "x": 840,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "54494bbf2c83b61e",
        "type": "comment",
        "z": "e319b75908f448e8",
        "name": "Port configuration part",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "7972c22045041024",
        "type": "Event",
        "z": "e319b75908f448e8",
        "name": "IO Port 2 Digital Input evet",
        "mojo": {
            "device": "idevice",
            "event": "//io/2/digitalInput",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 250,
        "y": 300,
        "wires": [
            [
                "978fe0ba9c7ee2a6"
            ]
        ]
    },
    {
        "id": "978fe0ba9c7ee2a6",
        "type": "Command",
        "z": "e319b75908f448e8",
        "name": "IO State Button Feedback",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/112",
            "onebased": true,
            "args": "",
            "cmdvalue": "Message payload"
        },
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2d4ffb7069abe3b2",
        "type": "Command",
        "z": "d487580768fd81c1",
        "name": "IO 3 State - True",
        "mojo": {
            "device": "idevice",
            "command": "//relay/3/state",
            "onebased": false,
            "args": true,
            "cmdvalue": "Manual configuration"
        },
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "38d7331c8c7dd3ae",
        "type": "UI Control",
        "z": "d487580768fd81c1",
        "name": "IO- Latch On",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//503/24",
            "locator": {
                "ccode": 101,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 170,
        "y": 240,
        "wires": [
            [
                "ecbb0a121027cba0"
            ]
        ]
    },
    {
        "id": "e4707e48a0b3cf2b",
        "type": "Command",
        "z": "d487580768fd81c1",
        "name": "IO 3 State - False",
        "mojo": {
            "device": "idevice",
            "command": "//io/3/output",
            "onebased": false,
            "args": false,
            "cmdvalue": "Manual configuration"
        },
        "x": 770,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "179b287003bff6f9",
        "type": "UI Control",
        "z": "d487580768fd81c1",
        "name": "IO- Latch Off",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "//503/25",
            "locator": {
                "ccode": 102,
                "cport": 1
            },
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 170,
        "y": 300,
        "wires": [
            [
                "e49a7656a528bc88"
            ]
        ]
    },
    {
        "id": "2527a971eeaef8b3",
        "type": "inject",
        "z": "d487580768fd81c1",
        "name": "Simulate IO - Latch On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "ecbb0a121027cba0"
            ]
        ]
    },
    {
        "id": "e51e4f71288b71aa",
        "type": "inject",
        "z": "d487580768fd81c1",
        "name": "Simulate IO- Latch Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "e49a7656a528bc88"
            ]
        ]
    },
    {
        "id": "79e2183dd9f02e74",
        "type": "Event",
        "z": "d487580768fd81c1",
        "name": "IO 3 State Change Event",
        "mojo": {
            "device": "idevice",
            "event": "//io/3/output",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "Any"
        },
        "x": 250,
        "y": 520,
        "wires": [
            [
                "0b4c3cb3bdd76df2"
            ]
        ]
    },
    {
        "id": "0b4c3cb3bdd76df2",
        "type": "Command",
        "z": "d487580768fd81c1",
        "name": "IO TP Button Feedbacl",
        "mojo": {
            "device": "dvTP",
            "command": "//port/1/channel/113",
            "onebased": true,
            "cmdvalue": "Message payload"
        },
        "x": 780,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d76915f0704a2ba9",
        "type": "Event",
        "z": "d487580768fd81c1",
        "name": "idevice - Online event",
        "mojo": {
            "device": "idevice",
            "event": "//Online",
            "onebased": false,
            "eventKind": "Parameter",
            "paramType": "Boolean",
            "boolParamFilter": "true"
        },
        "x": 200,
        "y": 80,
        "wires": [
            [
                "48d24975b31a7070"
            ]
        ]
    },
    {
        "id": "48d24975b31a7070",
        "type": "Command",
        "z": "d487580768fd81c1",
        "name": "Set IO 3 Mode - Input",
        "mojo": {
            "device": "idevice",
            "command": "//io/3/mode",
            "onebased": false,
            "args": "OUTPUT",
            "cmdvalue": "Manual configuration"
        },
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "13305b20f1f47773",
        "type": "comment",
        "z": "d487580768fd81c1",
        "name": "Port configuration part",
        "info": "",
        "x": 200,
        "y": 120,
        "wires": []
    },
    {
        "id": "baa4d4b2f6a575cf",
        "type": "UI Control",
        "z": "fdd846aaf88111f3",
        "name": "IR - Play",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "path": "//508/7",
            "locator": {
                "ccode": 1,
                "cport": 2
            },
            "type": "BUTTON",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 200,
        "y": 120,
        "wires": [
            [
                "b14eef82b4431236"
            ]
        ]
    },
    {
        "id": "b14eef82b4431236",
        "type": "Command",
        "z": "fdd846aaf88111f3",
        "name": "IR - Play",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 1
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "82a361df1c57daf2",
        "type": "UI Control",
        "z": "fdd846aaf88111f3",
        "name": "IR - Stop",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "path": "//508/9",
            "locator": {
                "ccode": 2,
                "cport": 2
            },
            "type": "BUTTON",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 200,
        "y": 160,
        "wires": [
            [
                "c20671d936e959df"
            ]
        ]
    },
    {
        "id": "c20671d936e959df",
        "type": "Command",
        "z": "fdd846aaf88111f3",
        "name": "IR - Stop",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 2
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1475d4c71ff314d9",
        "type": "UI Control",
        "z": "fdd846aaf88111f3",
        "name": "IR - Pause",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "path": "//508/7",
            "locator": {
                "ccode": 1,
                "cport": 2
            },
            "type": "BUTTON",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 200,
        "y": 200,
        "wires": [
            [
                "a88526d917bd8a09"
            ]
        ]
    },
    {
        "id": "a88526d917bd8a09",
        "type": "Command",
        "z": "fdd846aaf88111f3",
        "name": "IR - Pause",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 3
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f5281b0ce7b173",
        "type": "UI Control",
        "z": "fdd846aaf88111f3",
        "name": "IR - FFWD",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "path": "//508/7",
            "locator": {
                "ccode": 1,
                "cport": 2
            },
            "type": "BUTTON",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 200,
        "y": 240,
        "wires": [
            [
                "cf936b5f7f894646"
            ]
        ]
    },
    {
        "id": "cf936b5f7f894646",
        "type": "Command",
        "z": "fdd846aaf88111f3",
        "name": "IR - FFWD",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 6
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cb8666599ec206a7",
        "type": "UI Control",
        "z": "fdd846aaf88111f3",
        "name": "IR - REW",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "path": "//508/7",
            "locator": {
                "ccode": 1,
                "cport": 2
            },
            "type": "BUTTON",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 200,
        "y": 280,
        "wires": [
            [
                "fc08c2b34e211e73"
            ]
        ]
    },
    {
        "id": "fc08c2b34e211e73",
        "type": "Command",
        "z": "fdd846aaf88111f3",
        "name": "IR - REW",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 7
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8f984c29992d0e7e",
        "type": "UI Control",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol+ Press",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 240,
        "y": 100,
        "wires": [
            [
                "fef2202427f97dbb"
            ]
        ]
    },
    {
        "id": "fef2202427f97dbb",
        "type": "trigger",
        "z": "7f862f0d0e4b3589",
        "name": "",
        "op1": "1",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "300",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "c51b05e5470b866e"
            ]
        ]
    },
    {
        "id": "c51b05e5470b866e",
        "type": "Command",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol+",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 24
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 720,
        "y": 100,
        "wires": [
            [
                "fef2202427f97dbb"
            ]
        ]
    },
    {
        "id": "7922fc69336f6193",
        "type": "UI Control",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol+ Release",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "",
            "buttonType": "MOMENTARY",
            "trigger": "RELEASE",
            "state": "NONE"
        },
        "x": 240,
        "y": 180,
        "wires": [
            [
                "903286ad8b4d4686"
            ]
        ]
    },
    {
        "id": "903286ad8b4d4686",
        "type": "change",
        "z": "7f862f0d0e4b3589",
        "name": "set msg.reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "fef2202427f97dbb"
            ]
        ]
    },
    {
        "id": "6ecd219e88b20d50",
        "type": "UI Control",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol- Press",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "",
            "buttonType": "MOMENTARY",
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 230,
        "y": 280,
        "wires": [
            [
                "9b22bb9cfadd19b9"
            ]
        ]
    },
    {
        "id": "9b22bb9cfadd19b9",
        "type": "trigger",
        "z": "7f862f0d0e4b3589",
        "name": "",
        "op1": "1",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "300",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "66c98a79c2b8dd76"
            ]
        ]
    },
    {
        "id": "66c98a79c2b8dd76",
        "type": "Command",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol+",
        "mojo": {
            "device": "idevice",
            "command": "//ir/1/clearAndSendIr",
            "onebased": false,
            "args": {
                "code": 25
            },
            "cmdvalue": "Manual configuration"
        },
        "x": 720,
        "y": 280,
        "wires": [
            [
                "9b22bb9cfadd19b9"
            ]
        ]
    },
    {
        "id": "9e438f68c7faa498",
        "type": "UI Control",
        "z": "7f862f0d0e4b3589",
        "name": "IR - Vol- Release",
        "mojo": {
            "cp": "189d9a92e0c16dbf",
            "panel_group": "",
            "type": "BUTTON",
            "path": "",
            "buttonType": "MOMENTARY",
            "trigger": "RELEASE",
            "state": "NONE"
        },
        "x": 240,
        "y": 360,
        "wires": [
            [
                "7fd488802dc78718"
            ]
        ]
    },
    {
        "id": "7fd488802dc78718",
        "type": "change",
        "z": "7f862f0d0e4b3589",
        "name": "set msg.reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "9b22bb9cfadd19b9"
            ]
        ]
    }
]